{
	"printWidth": 80,
	"tabWidth": 2,
	"useTabs": true,
	"semi": false,
	"singleQuote": true,
	"quoteProps": "as-needed",
	"bracketSpacing": true,
	"trailingComma": "none",
	"jsxSingleQuote": false,
	"arrowParens": "avoid",
	"insertPragma": false,
	"requirePragma": false,
	"proseWrap": "preserve",
	"htmlWhitespaceSensitivity": "css",
	"endOfLine": "auto",
	"rangeStart": 0,
	"bracketSameLine": false
}
