/* stylelint-disable scss/at-rule-no-unknown */
@tailwind base;
@tailwind components;
@tailwind utilities;

.app {
	height: 100vh;
}

img {
	-o-object-fit: contain;
	object-fit: contain;
}

.ant-btn-primary {
	background-color: #1677ff !important;
}

.ant-tabs-nav::before {
	border: none !important;
	top: 0 !important;
}

.ant-tabs-top > .ant-tabs-nav {
	margin-bottom: 0;
}

button {
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}

.ant-tabs-tab button {
	display: none;
}

.ant-tabs-tab:hover button {
	display: block;
}

.ka-wrapper {
	height: 100%;
}

.ka-content {
	height: 100%;
}
