.login {
	&-page {
		background: url(@/assets/login_bg.svg) no-repeat 0 0 / cover;
	}

	&-box {
		width: 90%;
		height: 90%;
		background-color: rgba(252, 252, 252, 0.6);
	}

	&-left {
		width: 48%;

		img {
			object-fit: contain;
		}
	}
}

@media (max-width: 768px) {
	.login-left {
		width: 100%;
	}

	.login-box {
		flex-wrap: wrap;
	}
}
